.funkwhale {
  &.pagination {

    /* People using a screen reader want to be able to use default 'previous page', 'next page' controls*/

    @media screen and (max-width: 671px) {
        flex-wrap: wrap;
        .visually-hidden-when-small:not(:focus):not(:active) {
           	border: 0;
           	clip: rect(0 0 0 0);
           	clip-path: inset(50%);
           	height: 1px;
           	margin: -1px;
           	overflow: hidden;
           	padding: 0;
           	position: absolute;
           	white-space: nowrap;
           	width: 1px;
        }
    }

    height: 34px;
    display: flex;
    justify-content: center;

    &.is-small {
      > .pages {
        width: auto;
      }
      > .goto {
        margin-right: auto;
      }
    }

    > ul.pages {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 4px;
      margin-bottom: 8px;

      > li {
        margin: 0;
        text-align: center;

        &:not(:first-child):not(:last-child) {
          min-width: 34px;
        }

        &:first-child > .funkwhale.button,
        &:last-child > .funkwhale.button {
          width: 94px;
          text-align: center;
        }
      }
    }
  }
}
