COMPOSE_BAKE=true

# api + celeryworker
DEBUG=True
DEFAULT_FROM_EMAIL=hello@funkwhale.test

FUNKWHALE_DOMAIN=funkwhale.test
FUNKWHALE_PROTOCOL=https

DJANGO_SECRET_KEY=dev
DJANGO_ALLOWED_HOSTS=.funkwhale.test,nginx
DJANGO_SETTINGS_MODULE=config.settings.local

DATABASE_URL=postgresql://postgres@postgres/postgres
CACHE_URL=redis://redis:6379/0
EMAIL_CONFIG=smtp://mailpit.funkwhale.test:1025

FORCE_HTTPS_URLS=True
EXTERNAL_REQUESTS_VERIFY_SSL=false

C_FORCE_ROOT=true
PYTHONDONTWRITEBYTECODE=true
PYTHONTRACEMALLOC=0

CELERY_TASK_TIME_LIMIT=300

# api

FUNKWHALE_SPA_HTML_ROOT=http://nginx/
LDAP_ENABLED=False
BROWSABLE_API_ENABLED=True

# celeryworker

CELERYD_CONCURRENCY=0

# api + nginx

STATIC_ROOT=/staticfiles
MEDIA_ROOT=/data/media

# api + Typesense
TYPESENSE_API_KEY=apikey

# front

HOST=0.0.0.0
VUE_PORT=8080

# nginx

NGINX_MAX_BODY_SIZE=10G

FUNKWHALE_API_HOST=api
FUNKWHALE_API_PORT=5000

FUNKWHALE_FRONT_IP=front
FUNKWHALE_FRONT_PORT=${VUE_PORT}

# postgres

POSTGRES_HOST_AUTH_METHOD=trust
