@charset "utf-8";

@forward 'inc/theme';
@use 'inc/theme';
@forward 'base/index';
@use 'font';
@use 'font-rtl';
@use 'colors';

@use 'vendor/media';

@use 'globals/app';
@use 'globals/channels';
@use 'globals/layout';
@use 'globals/utils';

@use 'components/action_table';
@use 'components/album_card';
@use 'components/attachment_input';
@use 'components/avatar';
@use 'components/builder';
@use 'components/button';
@use 'components/card';
@use 'components/content_form';
@use 'components/copy_input';
@use 'components/empty_state';
@use 'components/favorite';
@use 'components/form';
@use 'components/file_upload';
@use 'components/fs_browser';
@use 'components/fs_logs';
@use 'components/header';
@use 'components/label';
@use 'components/modal';
@use 'components/pagination';
@use 'components/placeholder';
@use 'components/play_button';
@use 'components/play_indicator';
@use 'components/player';
@use 'components/playlist_editor';
@use 'components/queue';
@use 'components/settings_group';
@use 'components/search';
@use 'components/sidebar';
@use 'components/table';
@use 'components/tags_list';
@use 'components/tooltip';
@use 'components/track_widget';
@use 'components/track_table';
@use 'components/user_link';
@use 'components/user_modal';
@use 'components/volume_control';
@use 'components/loaders';

@use 'pages/about';
@use 'pages/admin_account_detail';
@use 'pages/admin_domain_detail';
@use 'pages/admin_library';
@use 'pages/artists';
@use 'pages/home';
@use 'pages/library';
@use 'pages/notifications';
@use 'pages/profile';

@use 'themes/light/main' as light;
@use 'themes/dark/main' as dark;


.theme-dark,
.theme-light {
  .direction-rtl & {
    --font-family: 'Vazirmatn', ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
}


html,
body {
  font-family: var(--font-family);
  font-size: 16px;
  margin: 0;
}

.has-background-light {
  background-color: var(--fw-gray-100);
}

* {
  --fw-translate-x: 0;
  --fw-translate-y: 0;
  --fw-scale: 1;
}

.funkwhale,
:root {
  --fw-border-radius: 8px;
}

:root {
  /* Do not show white background when scrolling past the end */
  overscroll-behavior: none;
}
